<!-- Posting -->
<div class="post card">
  <div class="card header" id="single-post">
      <h3>Add new post</h3>
    </div>
    <div class="content p-3">
      <textarea name="post-body" class="form-input"></textarea>
    </div>
  </div>
</div>

<!-- Add Comment -->
<div class="row mb-4">
  <div class="col">
    <form class="add-comment-form py-3">
      <div class="mb-2">
        <textarea class="form" maxlength="250" id="comment-text" rows="2" placeholder="Leave a comment"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
<div class="row mb-4">
  <div class="col">
    <p class="text-center">Please <a href="/login" class="text-decoration-none">login</a> to leave a comment.</p>
  </div>
</div>


<script src="/js/comment.js"></script>