<div class="card d-flex flex-column">
  <div class="title px-10">
    <h3>Sign Up</h3>
  </div>
  <form class="signup-form">
    <div class="mb-3">
      <label for="usernameinput" class="form-label">User name</label>
      <input type="text" class="form-control" id="usernameinput" required>
    </div>
    <div class="mb-3">
      <label for="inputPassword" class="form-label">Password</label>
      <input type="password" class="form-control" id="inputPassword" required>
    </div>
    <button type="submit" class="btn btn-primary">Sign Up</button>
  </form>
  <div class="px-1 py-3">
      <a href="/login">Login here</a>
    </p>
</div>

<script src="/js/signup.js"></script>